[user]
  email = kiswa.com@gmail.com
  name = Matthew Ross
[url "https://github.com/"]
  insteadOf = "gh:"
[url "git@github.com:kiswa/"]
  insteadOf = "ghk:"
[alias]
  la = !git config -l | grep alias | cut -c 7-
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%C(bold blue) [%cn]' --decorate
  adi = add --interactive
  bd = branch -d
  br = branch
  ch = checkout
  cb = checkout -b
  cl = clone
  cm = commit -m
  cma = commit -ma
  co = commit
  coa = commit -a --amend
  cp = cherry-pick
  df = diff
  fe = fetch
  last = log -1 HEAD
  mg = merge
  st = status
  sta = stash
  std = stash drop
  stp = stash pop
  sts = status -s
  undo = reset HEAD~1 --mixed
  unstage = reset HEAD --

