prefix=${HOME}/.npm-global
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=364D96CD-5E71-4337-932F-1045AE3AFC67
init-author-email = "kiswa.com@gmail.com"
init-author-name = "Matthew Ross"
init-license = "MIT"
init-version = "0.1.0"

